/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

// font-family: adobe-caslon-pro, serif;

// font-family: poetica-std, sans-serif;

@import "bootstrap/scss/bootstrap-grid";

// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

body {
  background-color: #f0ece1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.layout {
  background-image: url("/src/img/room.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 473px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  background-color: #f0ece1;
  margin-top: 473px;
}

.layout img {
  width: 150px;
  margin-left: 12%;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 55px 0px;
}

.main-nav a {
  margin-right: 6px;
}

.noi,
.menu,
.event-content,
.contact,
.where,
.main-nav {
  font-family: adobe-caslon-pro, serif;
  font-size: 15px;
  line-height: 15px;
}

@media (min-width: 375px) {
  .noi,
  .menu,
  .event-content,
  .contact,
  .where,
  .main-nav {
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  .noi,
  .menu,
  .event-content,
  .contact,
  .where,
  .main-nav {
    font-size: 20px;
    line-height: 20px;
  }
}

.noi,
.menu {
  background-color: #af89647b;
  padding: 36px 29px 68px 29px;
  height: 100%;
}

h2 {
  font-family: PoeticaStd;
  font-size: 25px;
  letter-spacing: 2.19px;
  margin-bottom: 15px;
}

@media (min-width: 375px) {
  h2 {
    font-size: 25px;
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 30px;
  }
}

.menu {
  display: flex;
  height: fit-content;
}

.menu-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 165px 0px 20px;
}

@media (min-width: 1024px) {
  .menu {
    margin-top: 115px;
  }
}

.fleche {
  width: 45px;
  height: 65px;
}

.food {
  width: 200px;
  margin: 0px 20px;
}

.event {
  background-image: url("/src/img/library.png");
  background-position: center;
  background-size: cover;
  padding: 87px 0px 58px;
  margin: 125px 0px 50px;
}

.event-content {
  opacity: 0.72;
  background: #eee2ce;
  background-position: center;
  padding: 14px 28px;
  margin-right: 14px;
}

.contact {
  margin-left: 30px;
}

.mail {
  text-decoration: none;
}

.fa-instagram {
  font-size: 25px;
  margin-bottom: 10px;
}

.where {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 50px 75px;
}

// ____

.slider {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.slider.mobile {
  margin-top: 125px;
}

.slides-container {
  height: 200px;
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  scroll-behavior: smooth;
}

.slide-mobile,
.slide-desktop {
  width: 200px;
  height: 100%;
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-mobile img,
.slide-desktop img {
  width: 200px;
  padding: auto;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 5%;
  margin: auto;
  height: 4rem;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  transition: opacity 100ms;
  background: none;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

.prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

.next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.prev.desktop {
  left: 90px;
}

.next.desktop {
  right: 100px;
}

.slides-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slides-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media (min-width: 1024px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 1024px) {
  .desktop {
    display: none;
  }
}
